{% include 'adminheader.html' %}


<div class="tm-page-wrap mx-auto">
            <section class="tm-banner">
                <div class="tm-container-outer tm-banner-bg">
                    <div class="container">

                        <div class="row tm-banner-row tm-banner-row-header">
                            <div class="col-xs-12">
                                <div class="tm-banner-header">

   
<center>
<form method="post">
{% if data['updater']%}
<h1 align="center">UPDATE REPLY</h1>
<table class="table" style="width: 400px">
<tr>
	<th>NAME OF USER:</th>
	<td>{{ data['updater'][0]['first_name']+" "+data['updater'][0]['last_name']}}</td>
</tr>
<tr>
	<th>COMPLAINT</th>&emsp;
	<td>{{ data['updater'][0]['feedback_description']}}</td>
</tr>
<tr>
	<th>REPLY</th>
	<td><input type="text" name="reply" value="{{ data['updater'][0]['reply']}}" class="form-control"></td>
</tr>
<tr>
	<td colspan="2" align="center"><input type="submit" name="update" value="UPDATE" class="btn btn-info"></td>
</tr>
</table>
{%else%}
{%endif%}
<br>
<br>
<h1 align="center">FEEDBACKS IN OUR SYSTEM</h1>
<table class="table" style="width: 800px">
	<tr>
		<th>NAME OF CUSTOMER</th>
		<th>BRANCH</th>
		<th>FEEDBACK</th>
		<th>DATE TIME</th>
		<th>REPLY</th>
		<th>UPDATE REPLY</th>
	</tr>
	{% for row in data['feedbacks'] %}
	<tr>
		<td>{{row['first_name'] + row['last_name'] }} </td>
		<td>{{row['branch_name']}}</td>
		<td>{{row['feedback_description']}}</td>
		<td>{{row['feedback_date']}}</td>
		<td>{{row['reply']}}</td>
		<td><a href="?action=update&id={{row['feedback_id']}}" class="btn btn-info">Update reply</a></td>
	</tr>
	{% endfor %}
</table>

</form>
</center>

                </div>    
                            </div>  <!-- col-xs-12 -->                      
                        </div> <!-- row -->
                        
                        <div class="tm-banner-overlay"></div>
                    </div>  <!-- .container -->                   
                </div>     <!-- .tm-container-outer -->                 
            </section>
        </div>
{% include 'footer.html' %}