{% include 'publicheader.html' %} 

<div class="tm-page-wrap mx-auto">
            <section class="tm-banner">
                <div class="tm-container-outer tm-banner-bg">
                    <div class="container">

                        <div class="row tm-banner-row tm-banner-row-header">
                            <div class="col-xs-12">
                                <div class="tm-banner-header">
                                    <center>
		   						<form method="post">
								<h1>LOGIN</h1>
								<table class="table" style="width: 600px" >
									<tr>
										<th>USERNAME</th>
										<td><input type="text" name="uname" class="form-control"></td>
									</tr>
									<tr>
										<th>PASSWORD</th>
										<td><input type="password" name="password" class="form-control"></td>
									</tr>
									<tr>
										<td colspan="2" align="center"><input type="submit" name="submit" value="login" class="btn btn-primary"></td>
									</tr>
									<!-- <tr>
										<td colspan="2" align="center"><a href="customerreg" class="btn btn-warning">New Customer? cilck here to register</a></td>
									</tr> -->
								</table>
								</form>
							</center>      
                                </div>    
                            </div>  <!-- col-xs-12 -->                      
                        </div> <!-- row -->
                        
                        <div class="tm-banner-overlay"></div>
                    </div>  <!-- .container -->                   
                </div>     <!-- .tm-container-outer -->                 
            </section>
        </div>

  
 
		   						
	
		   						
		   						<!-- <center>
		   						<form method="post">
								<h1>LOGIN</h1>
								<table class="table" style="width: 500px">
									<tr>
										<th>USERNAME</th>
										<td><input type="text" name="uname" class="form-control"></td>
									</tr>
									<tr>
										<th>PASSWORD</th>
										<td><input type="password" name="password" class="form-control"></td>
									</tr>
									<tr>
										<td colspan="2" align="center"><input type="submit" name="submit" value="login" class="btn btn-primary"></td>
									</tr>
									<tr>
										<td colspan="2" align="center"><a href="stureg" class="btn btn-warning">New User? cilck here to register</a></td>
									</tr>
								</table>
								</form>
							</center> -->



			

{% include 'footer.html' %}